<h1> Show View </h1>

<table>
  <% @user.goodspots.each do |gs| %>
      <tr>
        <td><%= gs.name %></td>
        <td><%= gs.description %></td>
      </tr>
  <% end %>
</table>


<%= button_to 'Add Goodspot!', new_goodspot_path, method: :get%>

<%= button_to 'Delete Account', user_path, method: :delete %>

